/* Контейнер кнопки и модального окна */
.modalOverlay {
  position: relative;
  display: inline-block;
}

/* Выпадающее окно */
.modalContent {
  padding: 8px;
  position: absolute;
  top: 100%; /* Позиционирование под кнопкой */
  left: 0;
  background-color: #202123;
  box-shadow: 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 10px; /* Отступ от кнопки */
  z-index: 100;
  width: 160px; /* Ширина модального окна */
}

/* Список внутри модального окна */
.dropdownModal {
  list-style: none;
  padding: 10px;
  margin: 0;
}
